@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>会员管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
							<div class="col-sm-3">
								<#NameCon id="memName" name="姓名" />
							</div>
							<div class="col-sm-3">
								<#NameCon id="memMobile" name="手机" />
							</div>

							<div class="col-sm-3">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown"
											class="btn btn-white dropdown-toggle" type="button">
											性别</button>
									</div>
									<select class="form-control" id="memSex">
										<option value="" selected="">请选择</option>
										<option value="1">男</option>
										<option value="2">女</option>
									</select>
								</div>
							</div>

							<div class="col-sm-3">
								<#button name="搜索" icon="fa-search" clickFun="Member.search()"
									btnCss="white" />
							</div>
						</div>
                        <div class="row">
							<div class="col-sm-3">
								<#NameCon id="memNickName" name="微信昵称" />
							</div>

							<div class="col-sm-3">
								<#NameCon id="cardNumber" name="会员卡号" />
							</div>

							<div class="col-sm-3">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">会员卡</button>
									</div>
									<select class="form-control" id="cardId">
										<option value="" selected="">请选择</option>
										@for(c in cards!){
										<option value="${c.id}">${c.name!}</option> 
										@}
									</select>
								</div>
							</div>

						</div>
                        <div class="row">
                        	<div class="col-sm-3">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">是否激活</button>
									</div>
									<select class="form-control" id="isActive">
										<option value="" selected="">请选择</option>
										<option value="0">未激活</option>
										<option value="1">已激活</option>
									</select>
								</div>
							</div>
                        </div>
                       
                        <div class="hidden-xs" id="MemberTableToolbar" role="group">
                            @if(shiro.hasPermission("/member/update")){
                                <#button name="修改" icon="fa-cog" clickFun="Member.openMemberDetail()" space="true" btnCss="info"/>
                            @}
                            @if(shiro.hasPermission("/member/delete")){
                                <#button name="删除" icon="fa-minus-square" clickFun="Member.delete()" space="true" btnCss="danger"/>
                            @}
                        </div>
                        <#table id="MemberTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/biz/member/member.js"></script>
@}
