@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <form id="memberForm">
    <div class="ibox-content">
        <div class="form-horizontal" >
            <input type="hidden" id="id" value="${member.id}">
              <div class="row">
				<div class="col-sm-6 b-r">
				    @if(member.isIsActive){
				    <#input id="mobile" name="手机号码" underline="true" value="${member.mobile}" readonly="readonly"/>
				    @}else{
				    <#input id="mobile" name="手机号码" underline="true" value="" />
				    @}
					<#input id="name" name="姓名" underline="true" value="${member.name}"/>
					<#select id="sex" name="性别" underline="true">
						<option value="1"
					   @if(member.sex==1){
							selected 
						@}
						>男</option>
						<option value="0"
						@if(member.sex==0){
							selected 
						@}
						>女</option>
					</#select>
					<#input id="birthday" name="出生日期" underline="true"  value="${member.birthday!}"
							clickFun="laydate({istime: false, format: 'YYYY-MM-DD'})" />
				</div>
				<div class="col-sm-6">
					<#select id="cards" name="会员卡" underline="true">
					@for(c in cards!){
						<option value="${c.id}"
						@if(memberCard.cardId==c.id){
						        selected
						@}
						>${c.name!}</option>
					@}
					</#select>
					<#input id="points" name="积分" underline="true" value="${member.points!}" readonly="readonly"/>
					<#input id="point" name="给积分" underline="true" value="0"  placeholder="请输入积分数(可以是负数)"/>
					<#textArea id="tips" name="备注" underline="true" value="${member.tips}">
					</#textArea>
				</div>
			</div>
		</div>
            <div class="row btn-group-m-t">
                <div class="col-sm-12 text-right">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="MemberInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="MemberInfoDlg.close()"/>
                </div>
            </div>
        </div>
	</form>
    </div>
</div>
<script src="${ctxPath}/static/modular/biz/member/member_info.js"></script>
@}
