@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>会员管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="姓名" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="Member.search()" btnCss="white"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="MemberTableToolbar" role="group">
                            @if(shiro.hasPermission("/member/add")){
                                <#button name="添加" icon="fa-plus" clickFun="Member.openAddMember()"/>
                            @}
                            @if(shiro.hasPermission("/member/update")){
                                <#button name="修改" icon="fa-cog" clickFun="Member.openMemberDetail()" space="true" btnCss="info"/>
                            @}
                            @if(shiro.hasPermission("/member/delete")){
                                <#button name="删除" icon="fa-minus-square" clickFun="Member.delete()" space="true" btnCss="danger"/>
                            @}
                        </div>
                        <#table id="MemberTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/biz/member/member.js"></script>
@}
