<!DOCTYPE html>
<html>
<head>
<title>${title!}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit" />
<!-- 让360浏览器默认选择webkit内核 -->
<!-- 全局css -->
<link href="${ctxPath}/static/jqweui/lib/weui.min.css" rel="stylesheet">
<link href="${ctxPath}/static/jqweui/css/jquery-weui.min.css" rel="stylesheet">
<link href="${ctxPath}/static/jqweui/demos/css/demos.css" rel="stylesheet">
<script src="${ctxPath}/static/jqweui/lib/jquery-2.1.4.js"></script>
<script src="${ctxPath}/static/jqweui/lib/fastclick.js"></script>
<script src="${ctxPath}/static/jqweui/js/jquery-weui.min.js"></script>
<script src="${ctxPath}/static/styles/js/ajax-object.js"></script>
</head>

<body ontouchstart>
	${layoutContent}
	<script>
		$(function() {
			FastClick.attach(document.body);
		});
	</script>
	<!-- 全局js -->
</body>
</html>
