@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>领取记录</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="会员卡号" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="MemberCard.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="MemberCardTableToolbar" role="group">
                            @if(shiro.hasPermission("/memberCard/add")){
                                <#button name="添加" icon="fa-plus" clickFun="MemberCard.openAddMemberCard()"/>
                            @}
                            @if(shiro.hasPermission("/memberCard/update")){
                                <#button name="修改" icon="fa-plus" clickFun="MemberCard.openMemberCardDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/memberCard/delete")){
                                <#button name="删除" icon="fa-plus" clickFun="MemberCard.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="MemberCardTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/biz/memberCard/memberCard.js"></script>
@}
