@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>领取记录</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="cardNumber" name="会员卡号" />
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="nickname" name="微信昵称" />
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="mobile" name="手机号" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="MemberCard.search()" btnCss="white"/>
                            </div>
                        </div>
                        <div class="row">
                        	<div class="col-sm-3">
                                <div class="input-group">
								    <div class="input-group-btn">
								        <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">
								        	会员卡
								        </button>
								    </div>
								    <select class="form-control" id="cardId">
								    	<option value="" selected="">请选择</option>
								    	@for(c in cards!){ 
										  <option value="${c.id}">${c.name}</option> 
										@}
								    </select>
								</div>
                            </div>
                        	<div class="col-sm-3">
                                <div class="input-group">
								    <div class="input-group-btn">
								        <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">
								        	会员卡类型
								        </button>
								    </div>
								    <select class="form-control" id="grantType">
								    	<option value="" selected="">请选择</option>
								    	@for(c in grantType!){ 
										  <option value="${c.code}">${c.message}</option> 
										@}
								    </select>
								</div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
								    <div class="input-group-btn">
								        <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">
								        	状态
								        </button>
								    </div>
								    <select class="form-control" id="state">
								    	<option value="" selected="">请选择</option>
								    	@for(c in state!){ 
										  <option value="${c.code}">${c.message}</option> 
										@}
								    </select>
								</div>
                            </div>
                        </div>
                        <div class="hidden-xs" id="MemberCardTableToolbar" role="group">
                            
                        </div>
                        <#table id="MemberCardTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/biz/memberCard/memberCard.js"></script>
@}
