@layout("/common/_container.html"){
<div class="ibox float-e-margins">
	<form name="storeEmployeeConfigInfoForm" id="storeEmployeeConfigInfoForm">
    <div class="ibox-content">
        <div class="form-horizontal">
            <input type="hidden" id="id" value="">
            <input type="hidden" id="storeId" value=""/>
			<div class="form-group">
				<label class="col-sm-2 control-label">店铺名称:</label>
				<div class="col-sm-5">
				<select class="form-control" name="stores" id="stores" >
				 <option value="">请选择</option>
				  @for(c in stores!){ 
				  <option value="${c.id}">${c.name}</option> 
				  @}
				</select>
				</div> 
			</div>
            <div class="form-group">
				<label class="col-sm-2 control-label">员工姓名:</label>
				<div class="col-sm-5">
					<input type="text" class="form-control" id="name" name="name"   placeholder=""/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">账号:</label>
				<div class="col-sm-5">
					<input type="text" class="form-control" id="mobile" name="mobile" placeholder="请输入手机号码"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">性别:</label>
				<div class="col-sm-5">
					<label class="checkbox inline">
					    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="radio" name="sex" id="optionsRadios4" value="1" checked>男 &nbsp; &nbsp; &nbsp; &nbsp;
						<input type="radio" name="sex" id="optionsRadios5" value="0">女 
					</label> 
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">密码:</label>
				<div class="col-sm-5">
					<input type="password" class="form-control" id="password" name="password"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">赋予权限:</label>
				<div class="col-sm-5">
					<label class="checkbox inline">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					@for(c in roles!){
						<input type="radio" name="roleType" id="optionsRadios3" value="${c.code}" 
						@if(c.code==7){
							checked 
						@}
						>${c.message} &nbsp;&nbsp;&nbsp;&nbsp;
					@}
				</div>
			</div>
            <div class="row btn-group-m-t">
                <div class="col-sm-12 text-right">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="StoreEmployeeInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="StoreEmployeeInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
    </form>
</div>
<script src="${ctxPath}/static/modular/biz/storeEmployee/storeEmployee_info.js"></script>
@}
