@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>员工管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="employeeName" name="员工姓名" />
                            </div>
                            
                            <div class="col-sm-3">
                                <#NameCon id="mobile" name="账号" />
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">店铺名称</button>
									</div>
									<select class="form-control" id="storeName">
									    	<option value="" selected="">请选择</option>
									    	@for(c in stores!){ 
											  <option value="${c.id}">${c.name!}</option> 
											@}
									    </select>
									</div>
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="StoreEmployee.search()" btnCss="white"/>
                            </div>
                        </div>
                        
                        <div class="row">
                        	<div class="col-sm-3">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown"
											class="btn btn-white dropdown-toggle" type="button">
											性别</button>
									</div>
									<select class="form-control" id="employeeSex">
										<option value="" selected="">请选择</option>
										<option value="1">男</option>
										<option value="0">女</option>
									</select>
								</div>
							</div>
	                        <div class="col-sm-3">
	                        	<div class="input-group">
								    <div class="input-group-btn">
								        <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">
								        	权限
								        </button>
								    </div>
								    <select class="form-control" id="roleType">
								    	<option value="" selected="">请选择</option>
								    	@for(c in roles!){ 
										  <option value="${c.code!}">${c.message!}</option> 
										@}
								    </select>
								</div>
	                        </div>
                        </div>
                        
                        <div class="hidden-xs" id="StoreEmployeeTableToolbar" role="group">
                            @if(shiro.hasPermission("/storeEmployee/add")){
                                <#button name="添加" icon="fa-plus" clickFun="StoreEmployee.openAddStoreEmployee()"/>
                            @}
                            @if(shiro.hasPermission("/storeEmployee/update")){
                                <#button name="修改" icon="fa-cog" clickFun="StoreEmployee.openStoreEmployeeDetail()" space="true" btnCss="info"/>
                            @}
                            @if(shiro.hasPermission("/storeEmployee/delete")){
                                <#button name="删除" icon="fa-minus-square" clickFun="StoreEmployee.delete()" space="true" btnCss="danger"/>
                            @}
                        </div>
                        <#table id="StoreEmployeeTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/biz/storeEmployee/storeEmployee.js"></script>
@}
