@layout("/common/_container.html",{title:"我的会员卡"}){
<link href="${ctxPath}/static/layer_mobile/need/layer.css" rel="stylesheet">
<link href="${ctxPath}/static/styles/index.css" rel="stylesheet">
<script type="text/javascript" src="${ctxPath}/static/layer_mobile/layer.js"></script>
<script type="text/javascript" src="${ctxPath}/static/qrcode/qrcode.min.js"></script>
<link rel="stylesheet" href="${ctxPath}/static/font-awesome-4.7.0/css/font-awesome.min.css">
<body>

<div class="card-region" onclick="showQr()"
	@if(card.coverType == 1){
		style="background-image: url(${card.coverPic!});"
	@}else{
		style="background-color: ${card.colorCode!};"
	@}
	 >
	<div class="card-header">
		<h4 class="shop-name">
			<span class="shop-logo" style="background-image: url(${card.merchantLogo!})"></span>
			${card.merchantName!}
		</h4>
		<div class="qr-code"></div>
	</div>
	<h3 class="member-type">${card.cardName!}</h3>
	<div class="card-content">
		<p class="expiry-date">
			<!-- 有效期：<span>无限期</span> -->
			${card.cardNum!}
		</p>
	</div>
</div>

<input type="hidden" id="cardNum" value="${card.cardNum!}" />
<div id="qrcode" style="display: none;"></div>

<div class="bd">
	<div class="page__bd">
		<div class="weui-cells">
			<a class="weui-cell weui-cell_access" href="${ctxPath}/member/info">
				<div class="weui-cell__hd">
					<!-- <img src="${ctxPath}/static/jqweui/images/11.png" alt="" style="width: 20px; margin-right: 5px; display: block"> -->
					<i class="fa fa-user-o fa-lg"  aria-hidden="true"></i>
				</div>
				<div class="weui-cell__bd">
					<p>我的资料</p>
				</div>
				<div class="weui-cell__ft"></div>
			</a> 
			<a class="weui-cell weui-cell_access" href="${ctxPath}/member/point">
				<div class="weui-cell__hd">
					<!-- <img src="${ctxPath}/static/jqweui/images/point.png" alt="" style="width: 20px; margin-right: 5px; display: block"> -->
					<i class="fa fa-database fa-lg"  aria-hidden="true"></i>
				</div>
				<div class="weui-cell__bd">
					<p>我的积分</p>
				</div>
				<div class="weui-cell__ft"></div>
			</a>
			<a class="weui-cell weui-cell_access" href="${ctxPath}/member/storeOrder">
				<div class="weui-cell__hd">
					<!-- <img src="${ctxPath}/static/jqweui/images/1.png" alt="" style="width: 20px; margin-right: 5px; display: block"> -->
					<i class="fa fa-file-text-o fa-lg"  aria-hidden="true"></i>
				</div>
				<div class="weui-cell__bd">
					<p>门店订单</p>
				</div>
				<div class="weui-cell__ft"></div>
			</a>
			<a class="weui-cell weui-cell_access" href="${ctxPath}/member/onlineOrder">
				<div class="weui-cell__hd">
					<!-- <img src="${ctxPath}/static/jqweui/images/1.png" alt="" style="width: 20px; margin-right: 5px; display: block"> -->
					<i class="fa  fa-file-text fa-lg"  aria-hidden="true"></i>
				</div>
				<div class="weui-cell__bd">
					<p>线上订单</p>
				</div>
				<div class="weui-cell__ft"></div>
			</a>
			<a class="weui-cell weui-cell_access"
				href="${ctxPath}/member/coupon">
				<div class="weui-cell__hd">
					<!-- <img src="${ctxPath}/static/jqweui/images/7.png" alt="" style="width: 20px; margin-right: 5px; display: block"> -->
					<i class="fa fa-credit-card fa-lg" style="font-size: 1.2em;"  aria-hidden="true"></i>
				</div>
				<div class="weui-cell__bd">
					<p>我的优惠券</p>
				</div>
				<div class="weui-cell__ft"></div>
			</a>
			<a class="weui-cell weui-cell_access"
				href="${ctxPath}/coupon/toActive">
				<div class="weui-cell__hd">
					<!-- <img src="${ctxPath}/static/jqweui/images/8.png" alt="" style="width: 20px; margin-right: 5px; display: block"> -->
					<i class="fa fa-credit-card-alt fa-lg" style="font-size: 1.03em;" aria-hidden="true"></i>
				</div>
				<div class="weui-cell__bd">
					<p>兑换优惠券</p>
				</div>
				<div class="weui-cell__ft"></div>
			</a>
			<a class="weui-cell weui-cell_access" href="${ctxPath}/member/cardDetail">
				<div class="weui-cell__hd">
					<!-- <img src="${ctxPath}/static/jqweui/images/10.png" alt="" style="width: 20px; margin-right: 5px; display: block"> -->
					<i class="fa  fa-id-card-o fa-lg" style="font-size: 1.18em;" aria-hidden="true"></i>
				</div>
				<div class="weui-cell__bd">
					<p>会员卡详情</p>
				</div>
				<div class="weui-cell__ft"></div>
			</a>
			<a class="weui-cell weui-cell_access" href="${ctxPath}/member/store">
				<div class="weui-cell__hd">
					<!-- <img src="${ctxPath}/static/jqweui/images/10.png" alt="" style="width: 20px; margin-right: 5px; display: block"> -->
					<i class="fa fa-building-o fa-lg" style="font-size: 1.58em;" aria-hidden="true"></i>
				</div>
				<div class="weui-cell__bd">
					<p>附近门店</p>
				</div>
				<div class="weui-cell__ft"></div>
			</a>
			<a class="weui-cell weui-cell_access" href="${ctxPath}/sign/toSign">
				<div class="weui-cell__hd">
					<!-- <img src="${ctxPath}/static/jqweui/images/10.png" alt="" style="width: 20px; margin-right: 5px; display: block"> -->
					<i class="fa fa-building-o fa-lg" style="font-size: 1.58em;" aria-hidden="true"></i>
				</div>
				<div class="weui-cell__bd">
					<p>每日签到</p>
				</div>
				<div class="weui-cell__ft"></div>
			</a>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function() {
		/* var ajax = new $ax("${ctxPath}/memeberCard/view", function(data){
			alert(data);
		},function(data){
		});
		var mobile = $("#mobile").val();
		ajax.set({"mobile":mobile,"sex":"1"});
		ajax.start(); */
		makeCode();
	});

	var showQr = function() {
		var src = $("#qrcode").find("img").prop("src");
		var img = '<img src="'+src+'"/>';
		layer.open({
			content : img,
			btn : '关闭',
			shadeClose : false
		});
	}

	var qrcode = new QRCode("qrcode");
	function makeCode() {
		var cardNum = $("#cardNum").val();
		qrcode.makeCode(cardNum);
	}

	function submitStoreInfoClick() {
		$.ajax({
			//提交数据的类型 POST GET
			type : "POST",
			//提交的网址
			url : "${ctxPath}/member/getWxConfig",
			//成功返回之后调用的函数             
			success : function(data) {
				if (data) {
					wx.config({
						debug : true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
						appId : data.appId, // 必填，公众号的唯一标识
						timestamp : data.timestamp, // 必填，生成签名的时间戳
						nonceStr : data.nonceStr, // 必填，生成签名的随机串
						signature : data.signature,// 必填，签名，见附录1
						jsApiList : [ getLocation ]
					// 必填，需要使用的JS接口列表，所有JS接口列表见附录2
					});

					wx.ready(function() {
					});

					wx.error(function(res) {
					});

				}
			},
			//调用出错执行的函数
			error : function() {
				//请求出错处理
			}
		});

		wx.getLocation({
			type : 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
			success : function(res) {
				var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
				var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
				var speed = res.speed; // 速度，以米/每秒计
				var accuracy = res.accuracy; // 位置精度
				window.location.href = "${ctxPath}/member/store?lat="
						+ latitude + "&lon=" + longitude;
			},
			fail : function(error) {
				AlertUtil.error("获取地理位置失败，请确保开启GPS且允许微信获取您的地理位置！");
				/* $.toptip('获取地理位置失败，请确保开启GPS且允许微信获取您的地理位置！'); */
			}
		});

	}
</script>
</body>
@}


