@layout("/common/_container.html",{title:"我的会员卡"}){
<link href="${ctxPath}/static/layer_mobile/need/layer.css" rel="stylesheet">
<link href="${ctxPath}/static/styles/index.css" rel="stylesheet">
<script type="text/javascript" src="${ctxPath}/static/layer_mobile/layer.js"></script>
<script type="text/javascript" src="${ctxPath}/static/qrcode/qrcode.min.js"></script>
<style>
</style>


<div class="card-region" style="background-image: url(${card.coverPic!});" onclick="showQr()">
	<div class="card-header">
		<h4 class="shop-name">
			<span class="shop-logo"
				style="background-image: url(${card.merchantLogo!})"></span>
			${card.merchantName!}
		</h4>
		<div class="qr-code"></div>
	</div>
	<h3 class="member-type">${card.cardName!}</h3>
	<div class="card-content">
		<p class="expiry-date">
			<!-- 有效期：<span>无限期</span> -->
			${card.cardNum!}
		</p>
	</div>
</div>

<input type="hidden" id="cardNum" value="${card.cardNum}"/>
<div id="qrcode" style="display: none;"></div>

<div class="bd">
      <div class="page__bd">
         <div class="weui-cells">
          <a class="weui-cell weui-cell_access" href="/member/info">
            <div class="weui-cell__hd"><img src="${ctxPath}/static/jqweui/images/11.png" alt="" style="width:20px;margin-right:5px;display:block"></div>
            <div class="weui-cell__bd">
              <p>我的资料</p>
            </div>
            <div class="weui-cell__ft"></div>
          </a>
          <a class="weui-cell weui-cell_access" href="/member/point">
            <div class="weui-cell__hd"><img src="${ctxPath}/static/jqweui/images/8.png
            " alt="" style="width:20px;margin-right:5px;display:block"></div>
            <div class="weui-cell__bd">
              <p>我的积分</p>
            </div>
            <div class="weui-cell__ft"></div>
          </a>
          <a class="weui-cell weui-cell_access" href="/member/order">
            <div class="weui-cell__hd"><img src="${ctxPath}/static/jqweui/images/1.png" alt="" style="width:20px;margin-right:5px;display:block"></div>
            <div class="weui-cell__bd">
              <p>我的订单</p>
            </div>
            <div class="weui-cell__ft"></div>
          </a>
          <a class="weui-cell weui-cell_access" href="/member/coupon">
            <div class="weui-cell__hd"><img src="${ctxPath}/static/jqweui/images/7.png" alt="" style="width:20px;margin-right:5px;display:block"></div>
            <div class="weui-cell__bd">
              <p>我的优惠券</p>
            </div>
            <div class="weui-cell__ft"></div>
          </a>
        </div>
      </div>
 </div>
  
  <script type="text/javascript">
  	$(function() {
  	    /* var ajax = new $ax("${ctxPath}/memeberCard/view", function(data){
  	    	alert(data);
  	    },function(data){
  	    });
  	    ajax.set({});
  	    ajax.start(); */
  		makeCode();
	});
  	
  	var showQr = function (){
  		var src = $("#qrcode").find("img").prop("src");
		var img = '<img src="'+src+'"/>';
  		layer.open({
  	  	  content: img,
  	  	  btn: '关闭',
  	  	  shadeClose: false
  	  	});
  	}
  	
  	var qrcode = new QRCode("qrcode");
  	function makeCode () { 
  		var cardNum = $("#cardNum").val();
  	    qrcode.makeCode(cardNum);
  	}
  </script>
@}

	
