@layout("/common/_container.html",{title:"我的会员卡"}){
	<link href="${ctxPath}/static/jqweui/css/index.css" rel="stylesheet">
	<header class='demos-header' style="background-image: url(${ctxPath}/static/jqweui/images/img1.png); background-repeat:no-repeat;background-size:100% 100%;">
		<h1 class="demos-title">jQuery WeUI</h1>
		<p class='demos-sub-title'>轻量强大的UI库，不仅仅是 WeUI</p>
	</header>

   <div class="bd">
      <div class="page__bd">
         <div class="weui-cells">
          <a class="weui-cell weui-cell_access" href="/member/info">
            <div class="weui-cell__hd"><img src="${ctxPath}/static/jqweui/images/11.png" alt="" style="width:20px;margin-right:5px;display:block"></div>
            <div class="weui-cell__bd">
              <p>我的资料</p>
            </div>
            <div class="weui-cell__ft"></div>
          </a>
          <a class="weui-cell weui-cell_access" href="/member/point">
            <div class="weui-cell__hd"><img src="${ctxPath}/static/jqweui/images/8.png
            " alt="" style="width:20px;margin-right:5px;display:block"></div>
            <div class="weui-cell__bd">
              <p>我的积分</p>
            </div>
            <div class="weui-cell__ft"></div>
          </a>
          <a class="weui-cell weui-cell_access" href="/member/order">
            <div class="weui-cell__hd"><img src="${ctxPath}/static/jqweui/images/1.png" alt="" style="width:20px;margin-right:5px;display:block"></div>
            <div class="weui-cell__bd">
              <p>我的订单</p>
            </div>
            <div class="weui-cell__ft"></div>
          </a>
          <a class="weui-cell weui-cell_access" href="/member/coupon">
            <div class="weui-cell__hd"><img src="${ctxPath}/static/jqweui/images/7.png" alt="" style="width:20px;margin-right:5px;display:block"></div>
            <div class="weui-cell__bd">
              <p>我的优惠券</p>
            </div>
            <div class="weui-cell__ft"></div>
          </a>
        </div>
      </div>
        <a href="javascript:void(0);" class="weui-cell weui-cell_link">
        <!--   <div class="weui-cell__bd">添加更多</div> -->
        </a>
      </div>
    </div>
  
@}

	
