@layout("/common/_container.html",{title:"我的优惠券"}){
<link href="${ctxPath}/static/styles/index.css" rel="stylesheet">
  <body ontouchstart>
	<div class="weui-tab coupon-radius">
      <div class="weui-navbar">
        <a class="weui-navbar__item weui-bar__item--on" href="#tab1" style="border-radius: 10px;">
                                            可用优惠券
        </a>
        <a class="weui-navbar__item" href="#tab2" style="border-radius: 10px;">
                                            已失效
        </a>
       <!--  <a class="weui-navbar__item" href="#tab3">
                                              选项三
        </a> -->
      </div>
      <div class="weui-tab__bd">
        <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
          <h1>页面一</h1>
        </div>
        <div id="tab2" class="weui-tab__bd-item">
          <h1>页面二</h1>
        </div>
        <!-- <div id="tab3" class="weui-tab__bd-item">
          <h1>页面三</h1>
        </div> -->
      </div>
    </div>

  </body>
@}
