@layout("/common/_container.html",{title:"我的邀请函"}){
<script type="text/javascript" src="${ctxPath}/static/qrcode/qrcode.min.js"></script>
<link href="${ctxPath}/static/styles/index.css" rel="stylesheet">
<link href="${ctxPath}/static/jqweui/css/icon.css" rel="stylesheet">
<style>
#photoDiv .inline {
	display: inline;
}
</style>
</head>
<body style="background-color: #3a3c42;">
	<div align="center" style="margin-top: 20px;padding-top:20px;">
		<font color="#ffd200" size="3"><strong>杰克船长</strong></font>&nbsp; 
		<font color="#c2c9cc" size="3">邀你一起“酷锐运动”</font>
	</div>
	<div style="background-color: #272a33; position: relative; top: 70px; margin-left: 10px; margin-right: 10px; padding-top: 18px;">
		<div style="width: 100%; margin-bottom: 40px;" align="center">
			<font color="#cad2e0">长按识别二维码，即可领取</font>
		</div>
		<div align="center" id="photoDiv" style="padding-bottom: 10px;">
			<div class="photoImg" align="center" style="margin-right: 215px;">
				<img src="${ctxPath}/static/styles/images/photo1.jpg" style="width: 55px; border: 2px solid white; border-radius: 50% 50%; z-index: 100; position: absolute; top: 65px;">
			</div>
			<div class="inline" style="margin-right:5px;">
				<img src="${ctxPath}/static/styles/images/invitation.png" width="150px">
			</div>
			<div class="inline">
				<img src="${ctxPath}/static/styles/images/invitation_code.jpg" width="157px">
			</div>
		</div>
	</div>
</body>
@}
