@layout("/common/_container.html",{title:"我的积分"}){
<link href="${ctxPath}/static/css/index.css" rel="stylesheet">
  <body ontouchstart>
<!-- 
    <header class='demos-header1' style="background-color:gray;">
      <h1 class="demos-title"></h1>
    </header>  -->
  <div class="weui-cells__titl weui-cell weui-cell_link">积分明细列表</div>

    <div class="weui-form-preview">
     <!--  <div class="weui-form-preview__hd">
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">积分收支</label>
          <em class="weui-form-preview__value">2400</em>
        </div>
      </div> -->
      <div class="weui-form-preview__bd">
         <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">积分收支</label>
          <span class="weui-form-preview__value">2400</span>
        </div>
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">日期</label>
          <span class="weui-form-preview__value">2017-07-23</span>
        </div>
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">交易方式</label>
          <span class="weui-form-preview__value">交易方式</span>
        </div>
      </div>
     <!--  <div class="weui-form-preview__ft">
        <a class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:">操作</a>
      </div> -->
    </div>
  
    <div class="weui-form-preview">
   <!-- 	<div class="weui-form-preview__hd">
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">积分收支</label>
          <em class="weui-form-preview__value">2400</em>
        </div>
     </div> -->
      <div class="weui-form-preview__bd">
      	<div class="weui-form-preview__item">
          <label class="weui-form-preview__label">积分收支</label>
          <span class="weui-form-preview__value">2400</span>
        </div>
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">日期</label>
          <span class="weui-form-preview__value">2017-07-23</span>
        </div>
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">交易方式</label>
          <span class="weui-form-preview__value">交易方式</span>
        </div>
      </div>
      <!-- <div class="weui-form-preview__ft">
        <a class="weui-form-preview__btn weui-form-preview__btn_default" href="javascript:">辅助操作</a>
        <button type="submit" class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:">操作</button>
      </div> -->
    </div>

  </body>
@}
