@layout("/common/_container.html",{title:"线上订单"}){
<link href="${ctxPath}/static/styles/index.css" rel="stylesheet">
<link href="${ctxPath}/static/jqweui/css/icon.css" rel="stylesheet">
<body ontouchstart style="background-color:#fbfafa;">
	<!--   返回 -->
	<div class="weui-header bg-black" style="display:none;">
		<div class="weui-header-left">
			<a class="icon icon-109 f-white"
				onClick="javascript :history.back(-1);">返回</a>
		</div>
		<h1 class="weui-header-title"></h1>
		<div class="weui-header-right">
			<!-- <a class="icon icon-83 f-white"></a> -->
		</div>
	</div>

	<div class="weui-cells__titl weui-cell weui-cell_link" style="background-color:#54bd46;"><font color="white">订单列表</font></div>
	@for(c in orders!){
	<a href="${ctxPath}/member/onlineOrderDetail?tid=${c.tid!}&totalPayment=${c.payment!}" class="order-weui-cell_access">
		<div class="weui-form-preview">
			<div class="weui-form-preview__bd">
				<div class="weui-form-preview__item">
					<label class="weui-form-preview__label">订单号</label>
					<span class="weui-form-preview__value" style="color: black;">${c.tid!}</span>
					<!-- <div class="order-weui-cell__ft"></div> -->
				</div>
				<div class="weui-form-preview__item">
					<label class="weui-form-preview__label">支付金额</label> 
					<span class="weui-form-preview__value" style="color: black;">￥${c.payment!}</span>
					<!-- <div class="order-weui-cell__ft"></div> -->
				</div>
				<div class="weui-form-preview__item">
					<label class="weui-form-preview__label">消费店铺</label>
					<span class="weui-form-preview__value" style="color: black;">${c.seller_nick!}</span>
				</div>
				<div class="weui-form-preview__item">
					<label class="weui-form-preview__label">消费时间</label>
					<span class="weui-form-preview__value" style="color: black;">${c.pay_time!}</span>
				</div>
			</div>
		</div>
		<div class="weui-form-preview">
			<div class="weui-form-preview__bd">
				<div class="weui-form-preview__item">
					<label class="weui-form-preview__label">
					<font color="black" size="2px">查看详情</font></label>
					<span class="order-weui-form-preview__value">点击</span>
					<div class="order-weui-cell__ft"></div>
				</div>
			</div>
		</div>
	</a>
	<div style="background-color: #fafafa; height: 10px;"></div>
	@}
	@if(!(isNotEmpty(orders))){
	<div class="weui-form-preview__bd" style="background-color: #fbfafa;top:30%;position:relative;">
		<h4 align="center">(⊙０⊙)您还没有相关的订单</h4>
	</div>
	@}
</body>
@}
