@layout("/common/_container.html",{title:"我的积分"}){
<link href="${ctxPath}/static/styles/index.css" rel="stylesheet">
<link href="${ctxPath}/static/jqweui/css/icon.css" rel="stylesheet">
<body ontouchstart style="background-color:#f5f4f4;">
	<!-- 返回 -->
	<div class="weui-header bg-black" style="display:none;">
		<div class="weui-header-left">
			<a class="icon icon-109 f-white"
				onClick="javascript :history.back(-1);">返回</a>
		</div>
		<h1 class="weui-header-title"></h1>
		<div class="weui-header-right">
			<!-- <a class="icon icon-83 f-white"></a> -->
		</div>
	</div>

	<header class='demos-header background-img-green' style="height:50px;">
		<div style="vertical-align:middle;">
			<p class='demos-sub-title' style="color: white;">可用积分</p>
			<h3 class="point-demos-title" style="color: white;">
			@if(isNotEmpty(points)){
				@for(c in points!){
					@if(cLP.first){ 
						${c.totalPoints!}
					@} 
				@}
			@}else{
			   0
			@}
			</h3>
		</div>
	</header>
	<div class="weui-cells__titl weui-cell weui-cell_link" >
		@if(isNotEmpty(points)){
			<font color="gray">积分明细列表</font>
		@}
	</div>
	@for(c in points!){
	<div class="weui-form-preview">
		<div class="weui-form-preview__bd" style="color:black;">
			<div class="weui-form-preview__item" >
				<label class="weui-form-preview__label" style="color:black;">积分收支</label>
				<span class="weui-form-preview__value"
				@if(c.in_out){
		        	style="color: green;">+${c.point!}</span>
				@}
				@if(!c.in_out){
					style="color:red;">${c.point!}</span>
				@}
			</div>
			<div class="weui-form-preview__item">
				<label class="weui-form-preview__label" style="color:black;">日期</label>
				<span class="weui-form-preview__value">${c.createTime,dateFormat='YYYY-MM-dd'}</span>
			</div>
			<div class="weui-form-preview__item">
				<label class="weui-form-preview__label" style="color:black;">收支方式</label>
				<span class="weui-form-preview__value">
				@for(p in pointTradeType){
					@if(p.code==c.tradeType){
						${p.message!}
					@}
				@}
				</span>
			</div>
		</div>
	</div>
	@}
	@if(!(isNotEmpty(points))){
	<div class="weui-form-preview__bd" style="background-color: #f5f4f4;top:20%;position:relative;">
		<h4 align="center">(⊙０⊙)您目前还没有积分</h4>
	</div>
	@}
</body>
@}
