@layout("/common/_container.html",{title:"附近门店"}){
<link href="${ctxPath}/static/styles/index.css" rel="stylesheet">
<link href="${ctxPath}/static/jqweui/css/icon.css" rel="stylesheet">
  <body ontouchstart>
    <div class="weui-header bg-black"> 
	  <div class="weui-header-left">
	  	<a class="icon icon-109 f-white" onClick="javascript :history.back(-1);">返回</a>  
	  </div>
	  <h1 class="weui-header-title"></h1>
	  <div class="weui-header-right">
	  </div> 
  	</div>
    <header style="background-color:gray;width:100%;height:50px;"">
    <br>
		<!-- <h5 style="color:white;" align="center">仅展示距离你最近的10家门店</h5> -->
		<p class='demos-sub-title' style="color:white;">仅展示距离你最近的门店</p>
	</header>
  
   <!-- <div class="weui-cells"></div> -->
   <div class="weui-form-preview">
    <a href="/member/storeDetail">
      <div class="store-weui-form-preview__bd">
        <div style="margin-right:50px;">
	      	<div style="height:40px;margin-right:5px;margin-top:5px;margin-bottom:5px;border-right:2px solid #e4e4e4;">
		        <div class="weui-form-preview__item">
		          <label class="weui-form-preview__label"><font style="font-size:15px;font-weight: bold;" color="black">长沙万象店</font></label>
		          <span class="order-weui-form-preview__value">5.05公里</span> 
		        </div>
		        <div class="weui-form-preview__item">
		          <label class="weui-form-preview__label">湖南省长沙市星沙万象汇2楼1221室22222222222</label>
		        <!--   <span class="weui-form-preview__value">50</span> -->
		        </div>
	        </div>
        </div>
        <div style="margin-right:5px;float:right;position:relative;top:-35px;">
        	<img src="${ctxPath}/static/jqweui/images/map.png" width="26px" height="26px" >
        </div>
     </div> 
    </a>
   </div>
   
   <div class="weui-form-preview">
    <a href="/member/storeDetail">
      <div class="store-weui-form-preview__bd">
        <div style="margin-right:50px;">
	      	<div style="height:36px;margin-right:5px;margin-top:5px;margin-bottom:5px;border-right:2px solid #e4e4e4;">
		        <div class="weui-form-preview__item">
		          <label class="weui-form-preview__label"><font style="font-size:15px;font-weight: bold;" color="black">长沙万象店</font></label>
		          <span class="order-weui-form-preview__value">5.05公里</span> 
		        </div>
		        <div class="weui-form-preview__item">
		          <label class="weui-form-preview__label">湖南省长沙市星沙万象汇</label>
		        <!--   <span class="weui-form-preview__value">50</span> -->
		        </div>
	        </div>
        </div>
        <div style="margin-right:5px;float:right;height:36px;position:relative;top:-35px;">
        	<img src="${ctxPath}/static/jqweui/images/map.png" width="26px" height="26px" >
        </div>
     </div> 
    </a>
   </div>
   
   <div class="weui-form-preview">
    <a href="/member/storeDetail">
      <div class="store-weui-form-preview__bd">
        <div style="margin-right:50px;">
	      	<div style="height:36px;margin-right:5px;margin-top:5px;margin-bottom:5px;border-right:2px solid #e4e4e4;">
		        <div class="weui-form-preview__item">
		          <label class="weui-form-preview__label"><font style="font-size:15px;font-weight: bold;" color="black">长沙万象店</font></label>
		          <span class="order-weui-form-preview__value">5.05公里</span> 
		        </div>
		        <div class="weui-form-preview__item">
		          <label class="weui-form-preview__label">湖南省长沙市星沙万象汇2楼1221室22222222222</label>
		        <!--   <span class="weui-form-preview__value">50</span> -->
		        </div>
	        </div>
        </div>
        <div style="margin-right:5px;float:right;height:36px;position:relative;top:-35px;">
        	<img src="${ctxPath}/static/jqweui/images/map.png" width="26px" height="26px" >
        </div>
     </div> 
    </a>
   </div>
@}
    