@layout("/common/_container.html"){
<link rel="stylesheet" href="${ctxPath}/static/css/store/store.css">
<div class="ibox float-e-margins">
	<div class="ibox-title"><h5>添加店铺</h5></div>
    <div class="ibox-content">
    <form action="" id="storeInfoForm" name="storeInfoForm">
        <div class="form-horizontal" >
            <input type="hidden" id="id" value="">
            <input type="hidden" id="areaId" name="areaId"/>
            
            <#storeLogo id="logo" name="店铺logo:" avatarImg="" col="2"/>
            
            
            <#storeLogo id="qrcode" name="公众号二维码:" avatarImg="" col="2"/>
            
            <div class="form-group">
				<label  class="col-sm-2 control-label">店铺类型:</label>
				<div class="col-sm-2 no-right">
					<select class="form-control" id="storeType" name="storeType">
						<option value="">请选择</option>
						@for(s in storeTypes){
					    	<option value="${s.code}">
				    	    	${s.message}
				    		</option>
					    @}
					</select>
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-2 control-label">店铺名称:</label>
				<div class="col-sm-5">
					<input type="text" class="form-control" id="name" name="name" placeholder="请填写店铺名称">
				</div>
			</div>
			<div class="form-group">
				<label  class="col-sm-2 control-label">联系电话:</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" id="servicePhone" name="servicePhone" placeholder="请填写联系电话">
				</div>
				<label  class="col-sm-2 control-label">客服电话:</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" id="jointel" name="jointel" placeholder="请填写加盟电话">
				</div>
			</div>
			<div class="form-group">
				<label  class="col-sm-2 control-label">所属区域:</label>
				<div class="col-sm-2 no-right">
					<select class="form-control" id="province" name="province">
						<option value="">选择省份</option>
					</select>
				</div>
				<div class="col-sm-2 no-right">
					<select class="form-control" id="city" name="city">
						<option value="">选择城市</option>
					</select>
				</div>
				<div class="col-sm-2 no-right">
					<select class="form-control" id="area" name="area">
						<option value="">选择地区</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label  class="col-sm-2 control-label">详细地址:</label>
				<div class="col-sm-6 right-little">
					<input type="text" class="form-control" id="address" name="address" placeholder="">
				</div>
			</div>
			<div class="form-group">
				<label  class="col-sm-2 control-label">坐标:</label>
				<div class="col-sm-4 right-little">
					<input type="text" class="form-control" id="coordinate" name="coordinate" placeholder="请输入获取到的位置坐标">
				</div>
				<div class="col-sm-2 left-little">
					<a type="button" value="" href="http://lbs.amap.com/console/show/picker" target="_blank" class="btn btn-success" id="btnAddress" name="btnAddress">获取坐标</a>
				</div>
			</div>
			<div class="form-group">
				<label  class="col-sm-2 control-label">官网地址:</label>
				<div class="col-sm-6 right-little">
					<input type="text" class="form-control" id="website" name="website" placeholder="">
				</div>
			</div>
			<!-- <div class="form-group">
				<label  class="col-sm-2 control-label">地图定位:</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" placeholder="">
				</div>
			</div> -->
			<div class="form-group">
				<label  class="col-sm-2 control-label">运营时间:</label>
				<div class="col-sm-2">
					<div class="input-group">
						<input type="text" class="form-control" id="openTime" name="openTime" placeholder="">
						<div class="input-group-addon">时</div>
					</div>
				</div>
				<div class="col-sm-1 both-little">
					至
				</div>
				<div class="col-sm-2">
					<div class="input-group">
						<input type="text" class="form-control" id="closeTime" name="closeTime" placeholder="">
						<div class="input-group-addon">时</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label  class="col-sm-2 control-label">商家推荐:</label>
				<div class="col-sm-7">
					<textarea rows="5" id="description" name="description" class="form-control" placeholder="可以描述店铺的活动或相关备注信息（最多200个字）"></textarea>
				</div>
			</div>
			
			<div class="form-group">
				<label  class="col-sm-2 control-label">店铺照片:</label>
				<div class="col-sm-7">
					<ul class="app-image-list clearfix">
						<div id="storePicPreId" class="js-img-list" style="display: inline-block">
						</div>
						<div id="storePicBtnId" style="width: 50px;height: 50px;display: inline-block;overflow: hidden;vertical-align: top;">
							<li class="js-picture-btn-wrap"
								style="display: inline-block; float: none; vertical-align: top;">
								<a href="javascript:;" class="add js-add-picture">+加图</a>
							</li>
						</div>
					</ul>
				</div>
			</div>
			
			<div id="storePicPop"><img src="" class="img-responsive center-block"/></div>
            <div class="row btn-group-m-t col-sm-offset-2">
                <div class="col-sm-12">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="StoreInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="StoreInfoDlg.close()"/>
                </div>
            </div>
        </div>
    </form>
    </div>
</div>
<script src="${ctxPath}/static/modular/biz/store/store_info.js"></script>
@}
