<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ikoori.vip.common.persistence.dao.CouponFetchMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ikoori.vip.common.persistence.model.CouponFetch">
		<id column="id" property="id" />
		<result column="merchant_id" property="merchantId" />
		<result column="store_id" property="storeId" />
		<result column="coupon_id" property="couponId" />
		<result column="is_used" property="isUsed" />
		<result column="used_value" property="usedValue" />
		<result column="value" property="value" />
		<result column="available_value" property="availableValue" />
		<result column="member_id" property="memberId" />
		<result column="is_invalid" property="isInvalid" />
		<result column="verify_code" property="verifyCode" />
		<result column="valid_time" property="validTime" />
		<result column="message" property="message" />
		<result column="mobile" property="mobile" />
		<result column="wx_user_id" property="wxUserId" />
		<result column="expire_time" property="expireTime" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="status" property="status" />
	</resultMap>

</mapper>
