<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ikoori.vip.common.persistence.dao.PictureMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ikoori.vip.common.persistence.model.Picture">
		<id column="id" property="id" />
		<result column="merchant_id" property="merchantId" />
		<result column="store_id" property="storeId" />
		<result column="name" property="name" />
		<result column="real_name" property="realName" />
		<result column="pictype_id" property="pictypeId" />
		<result column="url" property="url" />
		<result column="abs_url" property="absUrl" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="status" property="status" />
	</resultMap>

</mapper>
