<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ikoori.vip.common.persistence.dao.RedpackLogMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ikoori.vip.common.persistence.model.RedpackLog">
		<id column="id" property="id" />
		<result column="merchant_id" property="merchantId" />
		<result column="redpack_id" property="redpackId" />
		<result column="send_status" property="sendStatus" />
		<result column="send_amount" property="sendAmount" />
		<result column="openid" property="openid" />
		<result column="billno" property="billno" />
		<result column="ip" property="ip" />
		<result column="reason" property="reason" />
		<result column="refund_time" property="refundTime" />
		<result column="rcv_time" property="rcvTime" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="status" property="status" />
	</resultMap>

</mapper>
