@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="merchantInfoForm">

            <input type="hidden" id="id" value="${merchant.id}">

            <div class="row">
            	<div class="col-sm-6">
            		<#storeLogo id="headImg" name="商户logo:" avatarImg="${merchant.headImg}" underline="true" col="3"/>
            		<#input id="name" name="商户名称" underline="false" value="${merchant.name}"/>
					<#input id="mobile" name="手机号" underline="false" value="${merchant.mobile}"/>
            	</div>
            	<div class="col-sm-6">
            		<#storeLogo id="qrcode" name="公众号二维码:" avatarImg="${merchant.qrcode}" col="3"/>
            		<#input id="qq" name="QQ" underline="false" value="${merchant.qq}"/>
					<#textArea id="tips" name="备注" underline="true" rows = "3" value="${merchant.tips}"/>
            	</div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-12 text-right">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="MerchantInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="MerchantInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/biz/merchant/merchant_info.js"></script>
@}
