@layout("/common/_container.html"){
<link href="${ctxPath}/static/css/ticket/ticket.css" rel="stylesheet" />
<form id="ticketForm">
<div class="row">
	<div class="col-sm-12">
		<div class="ibox float-e-margins">
			<!-- <div class="app"> -->
			<!-- <div class="app-inner f-cb"> -->
			<div class="mode-block f-cb">
				<div id="ticketWidth" class="mode-print f-fl small"
					style="float: left">
					<div class="mode-print-title text-16">预览效果</div>
					<div class="mode-preview print-preview">
						<p class="tit" id="ptitle"></p>
						<p>
							<!-- /react-text -->
							<!-- react-text: 34 -->
							单号：XSD10329392390293
							<!-- /react-text -->
						</p>
						<p>交易时间：2016-09-01 12:00:00</p>
						<p>
							<!-- react-text: 37 -->
							收银员
							<!-- /react-text -->
							<!-- <i class="ws3-m">银</i><i class="ws3-m">员</i> -->
							<!-- react-text: 40 -->
							：大琼
							<!-- /react-text -->
						</p>
						<p class="pt-18"></p>
						<p>裤子 休闲裤</p>
						<p class="f-cb">
							<span class="box l box-l">90.00(活动标签)</span><span
								class="box m box-l">x1</span><span class="box r f-tr">90.00</span>
						</p>
						<p class="f-cb">
							<span class="box l box-l">190.00</span><span class="box m box-l">x1</span><span
								class="box r f-tr">190.00</span>
						</p>
						<!-- <p class="pt-18"></p> -->
						<!-- <p>衣服 T恤</p>
						<p class="f-cb">
							<span class="box l box-l">19.89/Kg</span><span
								class="box m box-l">x3.7</span><span class="box r f-tr">73.59</span>
						</p> -->
						
						
						<p class="pt-18"></p>
						<div>
							<p>
								<!-- react-text: 71 -->
								合计
								<!-- /react-text -->
								<!-- <i class="ws2-m">计</i> -->
								<!-- react-text: 73 -->
								：120.00
								<!-- /react-text -->
							</p>
							<p>优惠方式：整单9折</p>
							<p>
								<!-- react-text: 76 -->
								优惠
								<!-- /react-text -->
								<!-- <i class="ws2-m">惠</i> -->
								<!-- react-text: 78 -->
								：-5.00
								<!-- /react-text -->
							</p>
							<p>
								<!-- react-text: 80 -->
								抹零
								<!-- /react-text -->
								<!-- <i class="ws2-m">零</i> -->
								<!-- react-text: 82 -->
								：0.02
								<!-- /react-text -->
							</p>
							<p class="pt-18"></p>
							<p class="text-b">微信付款：90.00</p>
						</div>
						<p class="pt-18"></p>
						<p>
							<!-- react-text: 87 -->
							手机号
							<!-- /react-text -->
							<!-- <i class="ws3-m">机</i><i class="ws3-m">号</i> -->
							<!-- react-text: 90 -->
							：133****8888
							<!-- /react-text -->
						</p>
						<p>
							<!-- react-text: 92 -->
							卡号
							<!-- /react-text -->
							<!-- <i class="ws2-m">号</i> -->
							<!-- react-text: 94 -->
							：1219 5011 3400 7800 89
							<!-- /react-text -->
						</p>
						<p>
							<!-- react-text: 96 -->
							积分
							<!-- /react-text -->
							<!-- <i class="ws2-m">分</i> -->
							<!-- react-text: 98 -->
							：
							<!-- /react-text -->
							<!-- react-text: 99 -->
							获得900积分，累计125800积分
							<!-- /react-text -->
						</p>
						<p class="pt-18"></p>
						<p class="text-footer" id="premark">谢谢惠顾，欢迎下次光临!</p>
					</div>
				</div>
				<div class="mode-print ml50 f-fl" style="float: left">
					<div class="mode-print-title text-16"></div>
					<div class="mode-preview">
						<h5 class="mode-set-title">小票规格</h5>
						<div class="mode-set-check" id="specType">
							@for(st in specType){
							<label><input name="specType" value="${st.code}" type="radio"
							@if(st.code==1){
								checked
							@}
							><span>${st.message}</span></label>
							@}

							<!-- <label><input name="receiptSpec" value="2" type="radio"><span>80mm</span></label> -->
						</div>
						
						<div class="mode-set-edit mt10">
							<div class="mode-edit-title">小票名称</div>
							<textarea class="receipt-edit-field" placeholder="小票名称"
								id="name" name="name"></textarea>
						</div>
						
                        <div class="mode-set-edit mt10">
							<div class="mode-edit-title">请选择店铺</div>
							<select class="form-control" name="stores" id="stores">
								<!--  <option value="0">请选择</option> --> 
								@for(c in stores!){
								<option value="${c.id}">${c.name}</option>
								@}
							</select>
						</div>
						
						<div class="mode-set-edit mt10">
							<div class="mode-edit-title">编辑头部标题</div>
							<textarea class="receipt-edit-field" placeholder="头部标题"
								id="title" name="title"></textarea>
						</div>
						<div class="mode-set-edit mt10">
							<div class="mode-edit-title">编辑底部备注</div>
							<textarea class="receipt-edit-field" placeholder="谢谢惠顾，欢迎下次光临！"
								id="remark" name="remark">谢谢惠顾，欢迎下次光临！</textarea>
						</div>
						<div class="mode-option-btnbox mt20 clearfix">
							<!-- <button type="button" class="zent-btn">打印测试</button> -->
							<button type="button" class="zent-btn-primary zent-btn" id="ensure" onclick="TicketInfoDlg.addSubmit()">应用</button>
						</div>
					</div>
				</div>
			</div>
			<!-- </div> -->
			<!-- </div> -->
		</div>
	</div>
</div>
</form>
<script src="${ctxPath}/static/modular/biz/ticket/ticket_info.js"></script>
@}
